@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert" style="color: #ddd9d6; background-color: #7d050f">
        This is a blurb about Cookie Consent and Privacy.  If you're so inclined, <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white">read more here</a>.
        <button type="button" class="accept-policy close" style="color: white" 
        data-dismiss="alert" aria-label="Close" 
        data-cookie-string="@cookieString">Accept... And make the box go away.</button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
