@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card"style="justify-content: center; background-color: #ddd9d6; margin: 20px 0px">
    <h3 class="card-header" style="font-weight: 600; letter-spacing: 1px">Welcome!</h3>
</div>
<div class="text-center card" style="justify-content: center; background-color: #ddd9d6">
    <div class="card-body container" style="padding: 20px 100px; letter-spacing: 1px">
        <img src="~/img/me.jpg" alt="Sophie and daughter Julia" style="height: 300px; margin-bottom: 20px">
        <p>I'm a junior developer and coding bootcamp graduate located in the DC area.  I recently finished a 14-week program with Coding Dojo, but
        I have been coding on and off for years, with my <a href="https://repl.it/@@sophiebrainerd/EverlastingRustyBug" style="color: #7d050f">first solo project</a> being a "Go Fish!" console game 
        made in Python back in 2017.  Having now turned my focus towards coding full time, I've learned to create full stack projects using Django, React, and C#.  Please check them out on my 
        <a href="/projects" style="color: #7d050f">projects page</a> or <a href="https://github.com/sophiebrainerd" style="color: #7d050f">GitHub</a>.</p>
        <p>Prior to starting my career in web development, I worked in various industries including retail, hospitality, security, solid waste, and administrative work.
        I know how to make a bone dry capuccino and can back up a tractor trailer.  I graduated from poker dealing school and was a state certified alarm monitor.  Learning
        about new topics and putting that knowledge to use is my <span style="font-weight: 600">passion</span>.</p>
    </div>
</div>
