@{
    ViewData["Title"] = "Privacy Policy";
}
    
<div class="text-center card"style="justify-content: center; background-color: #ddd9d6; margin: 20px 0px">
    <h3 class="card-header" style="font-weight: 600; letter-spacing: 1px">Privacy "Policy"</h3>
</div>
<div class="text-center card-body" style="justify-content: center; background-color: #ddd9d6">
    <p>This is a personal website with no privacy policy of which to speak.  
    The way cookies work is to store your data in session which allows the server to tell whether or not you are logged in, 
    or how many times a page has been loaded.  Odds are, if you're reading this on my actual site, you are either from 
    a potential employer (and know very well how cookies are used), or you are an acquaintance who is just clicking on stuff.  
    I hope this explanation has been satisfactory. <br>
        <img class="card-img" src="@Url.Content("~/img/privacy4.jpg")" alt="Photo of person holding magnifying glass by Gustavo Fring from Pexels" 
    style="max-width: 50%; max-height: auto; flex-basis: auto; padding: 30px;">
    </p>
</div>
